.text-color{
  color: rgb(40, 126, 140)!important;
}
.bg-theme{
  background-color: rgba(40, 126, 140, 1.0)!important;
}
.mt-72{
  margin-top: 72px;
}
.bg-total{
  background-color: rgba(236, 221, 136, 0.5);
}
.br-10{
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgb(177, 177, 177);
}
.br-10:hover{
  box-shadow: 1px 1px 10px rgb(153, 153, 153);
}